{% extends "layout.html" %}

{% block body %}
<h3> tNNBlog hakkında..</h3>
<hr>
<p>Gregor Samsa bir sabah bunaltıcı düşlerden uyandığında, kendini yatağında dev bir böceğe dönüşmüş olarak buldu. Zırh gibi sertleşmiş sırtının üstünde yatmaktaydı ve başını biraz kaldırdığında bir kubbe gibi şişmiş, kahverengi, sertleşen kısımların oluşturduğu yay biçimi çizgilerle parsellere ayrılmış karnını görüyordu; karnının tepesindeki yorgan neredeyse tümüyle yere kaymak üzereydi ve tutunabileceği hiçbir nokta kalmamış gibiydi. Gövdesinin çapıyla karşılaştırıldığında acınası incelikteki çok sayıda bacak, gözlerinin önünde çaresizlik içerisinde, parıltılar saçarak sallanıp durmaktaydı.</p>
{% endblock body %}