{% extends "layout.html" %}

{% block body %}
{% load crispy_forms_tags %}

<div class="col-md-6 offset-md-3">
    <h3> Makale Ekle..</h3>
<hr>
 <code>pre class="prettyprint"</code><i> Renklendirmek istediğiniz kodları, kaynak bölümünden bu şekilde class="prettyprint" belirleyerek pre tag leri arasına girebilirsiniz.</i> 
<form method="post" enctype="multipart/form-data"> 
    {% csrf_token %}
    {{ form.media }}
    {{ form|crispy }} 
    <br>
    <button type="submit" class="btn btn-success"> Giriş</button>
</form>
</div>
{% endblock body %}